body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: large;
}

h2 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
	color: red;
}

label {
	display: block;
	margin: 1em 0;
}

em {
	font-style: normal;
	text-decoration: underline;
	color: green;
}

[disabled] {
	opacity: .4
}

.result {
	border: 1px solid grey;
	border-radius: .5em;
	padding: 1em;
	background-color: ivory;
}

.result:empty {
	display: none;
}

.status {
	min-height: 1em;
}

.colors {
	margin: 1em 0;
}

.colors span {
	display: inline-block;
	font-size: .75em;
	width: 5em;
	padding: .5em;
	margin: 0 .5em;
	overflow: hidden;
}

nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 1em;
	background-color: beige;
	text-align: center;
}